<nav class="nav bg-dark justify-content-center">
  <a class="nav-link active text-light" href="#">Blog</a>
  <a class="nav-link text-light" href="#">Link</a>
  <a class="nav-link text-light" href="#">Link</a>
  <a class="nav-link disabled text-light" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>